header {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.form-inline {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #007bff;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.btn-light {
  background-color: #f8f9fa;
  color: #343a40;
}

.btn.active {
  background-color: #28a745;
}
