<p>customers-list works!</p>
<!-- customers-list.component.html -->
<h1>Lista de Clientes</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.birthDay }}</td>
            <td>{{ customer.email }}</td>
            <td>
                <button (click)="editarCliente(customer)">Editar</button>
                <button (click)="excluirCliente(customer.id)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
