footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #343a40; /* Defina a cor de fundo desejada */
  color: #fff; /* Defina a cor do texto desejada */
  text-align: center;
  padding: 10px;
}